.filter-drop-down {
  display: fixed;
  flex-direction: column;
  position: absolute;
  top: 51px;
  right: -2px;
  width: 688px;
  gap: 25px;
  padding: 40px 30px 20px 30px;
  background-color: white;
  border: 0.5px solid #8338ec;
  border-radius: 10px;
  z-index: 5;
}

.filter-input {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-height: 154px;
  overflow-y: scroll;
}

.filter-checkbox {
  display: none;
}

.filter {
  display: flex;
  align-items: center;
}

.checkbox {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1.5px solid #8338ec;
  border-radius: 6px;
  margin-right: 0 !important;
  cursor: pointer;
}

.filter span:hover {
  cursor: pointer;
}

.filter span::after {
  content: url("../../SVG/CheckmarkPurple.svg");
  font-size: 16px;
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.filter-checkbox:checked + span::after {
  display: block;
}

.filter label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.filter img {
  height: 28px;
  width: 28px;
  border-radius: 14px;
}

#confirm-filter-btn {
  padding: 8px 20px;
  color: white;
  background-color: #8338ec;
  border-radius: 20px;
  margin-left: auto;
  width: 155px;
  height: 35px;
  font-size: 16px;
  transition: background-color 0.2s, border-color 0.2s;
}

#confirm-filter-btn:hover {
  background-color: #b588f4;
}

.active {
  color: #8338ec;
}
