.dropdown-menu {
  position: relative;
  cursor: pointer;
}

.dropdown-menu-expanded {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-color: #8338ec !important;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.dropdown-options {
  display: none;
  position: absolute;
  left: -1px; /* Align with the left border of the parent */
  width: calc(100% + 2px);
  border: 1px solid #8338ec;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: none;
  background-color: #fff;
}

.dropdown-option {
  padding: 10px;
}

.dropdown-option:hover {
  background-color: lightgray;
}
